<div class="page-header-wrapper">
	<div class="page-header">
  		<h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
  	</div>
  <h3>
    <a href="/">Blog</a> &bull;
    <a href="/about/">About</a> &bull;
    <a href="/projects/">Projects</a> &bull;
    <a href="/software/">Software</a> &bull;
    <a href="/writing/">Writing</a> &bull;
    <a href="/service/">Service</a> &bull;
    <a href="/music/">Music</a>
  </h3><br/>
</div>

<div class="row">
  <div class="span12">
    {{ content }}
  </div>
</div>
